@font-face{
font-family: Forelle;
src: url('../fonts/Forelle.ttf');
}
::-webkit-scrollbar {

    height: 10px;

    width: 10px;

    background: #a1a1a1;

}



::-webkit-scrollbar-thumb {

    background: rgba(69,89,54,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(69,89,54,1) 0%, rgba(44,96,13,0.6) 65%, rgba(42,97,10,0.6) 70%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(69,89,54,1)), color-stop(65%, rgba(44,96,13,0.6)), color-stop(70%, rgba(42,97,10,0.6)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(69,89,54,1) 0%, rgba(44,96,13,0.6) 65%, rgba(42,97,10,0.6) 70%);
	background: -o-radial-gradient(center, ellipse cover, rgba(69,89,54,1) 0%, rgba(44,96,13,0.6) 65%, rgba(42,97,10,0.6) 70%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(69,89,54,1) 0%, rgba(44,96,13,0.6) 65%, rgba(42,97,10,0.6) 70%);
	background: radial-gradient(ellipse at center, rgba(69,89,54,1) 0%, rgba(44,96,13,0.6) 65%, rgba(42,97,10,0.6) 70%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#455936', endColorstr='#2a610a', GradientType=1 );

    -webkit-border-radius: 1ex;

    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);

}



::-webkit-scrollbar-corner {

    background: #000;

}
body{
	background: url(../images/patratel.png)repeat fixed 0 0 transparent;
	margin: 0;
	padding: 0;
}
header{
	background: url(../images/top_menu_bg.png)repeat-x scroll 0 0 transparent;
	width: 100%;
	height: 110px;
	margin: 0;
	padding: 0;
}
#wrapper{
	height: 100%;
	margin:0;
	padding: 0;
}
.container{
	display: inline-block;
    margin-top: 45px;
    position: relative;
    height: 1000px;
}
#content_pages{
	width: 90%;
	margin:0 auto;
	height: 100%;
}
.clear{
	clear: both;
}
#logo{
	background: url(../images/logo.png)no-repeat fixed 0 0 transparent;
	display: none;
	max-width: 100%;
}
.nav{
	width: 100%;
	display: inline-block;
	background: url(../images/menu_bg.png)repeat-x scroll 0 0 transparent;
}
.nav ul{
	list-style-type: none;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}
.nav ul li{
	display:inline-block;
	width: 14%;
	position:relative;
	bottom:125px;
	-webkit-font-smoothing: antialiased;

}
.nav ul li a{
	text-decoration: none;
	display: block;
	text-align: center;
	padding:10px 12px;
	font-family: 'Tangerine', cursive;
	font-size: 32px;
	line-height: auto;
	color:#4c2d25;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	transition: color 0.8s;
}
.nav ul li a:hover{
	color:#5dac2f;
	text-shadow:1px 1px 2px #5dac2f;
}
.nav current a{
	background:#fff;
	border-radius:5px;
}
.nav ul li:nth-child(4) img{
    position: relative;
    top: -30px;
    width: 215px;
}
.nav li:nth-child(4){
	width: 215px;
	height: 135px;
	position: relative;
	top:0px;
}

/* ----- NAV END -----*/

/* ---- HOMEPAGE SLIDDER ---*/
.top_slider{
	width: 90%;
	padding-bottom: 20px;
	margin:0 auto;
	border:2px solid #47241b;
	border-radius: 5px;
	box-shadow: 4px 3px 4px #888;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	background: rgba(69,89,54,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(69,89,54,1) 0%, rgba(44,96,13,0.6) 65%, rgba(42,97,10,0.6) 70%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(69,89,54,1)), color-stop(65%, rgba(44,96,13,0.6)), color-stop(70%, rgba(42,97,10,0.6)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(69,89,54,1) 0%, rgba(44,96,13,0.6) 65%, rgba(42,97,10,0.6) 70%);
	background: -o-radial-gradient(center, ellipse cover, rgba(69,89,54,1) 0%, rgba(44,96,13,0.6) 65%, rgba(42,97,10,0.6) 70%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(69,89,54,1) 0%, rgba(44,96,13,0.6) 65%, rgba(42,97,10,0.6) 70%);
	background: radial-gradient(ellipse at center, rgba(69,89,54,1) 0%, rgba(44,96,13,0.6) 65%, rgba(42,97,10,0.6) 70%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#455936', endColorstr='#2a610a', GradientType=1 );
	/*-webkit-border-image:url(../images/border.jpg) 30 30 stretch;
	-o-border-image:url(../images/border.jpg) 30 30 stretch;
	border-image:url(../images/../images/border.jpg) 30 30 stretch;*/
}
/* SLIDER BOTTOM */
.col2 .bot_slider .bx-viewport{
	height: 100%!important;
	position: static!important;
}
.col2 a.bx-prev{
	left:-30px;
}
.col2 a.bx-next{
	right: -40px;
}
.slider2{
	padding-bottom: 15px;
	margin:0 auto;
	border:2px solid #47241b;
	border-radius: 5px;
	box-shadow: 4px 3px 4px #888;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	background: rgba(69,89,54,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(69,89,54,1) 0%, rgba(44,96,13,0.6) 65%, rgba(42,97,10,0.6) 70%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(69,89,54,1)), color-stop(65%, rgba(44,96,13,0.6)), color-stop(70%, rgba(42,97,10,0.6)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(69,89,54,1) 0%, rgba(44,96,13,0.6) 65%, rgba(42,97,10,0.6) 70%);
	background: -o-radial-gradient(center, ellipse cover, rgba(69,89,54,1) 0%, rgba(44,96,13,0.6) 65%, rgba(42,97,10,0.6) 70%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(69,89,54,1) 0%, rgba(44,96,13,0.6) 65%, rgba(42,97,10,0.6) 70%);
	background: radial-gradient(ellipse at center, rgba(69,89,54,1) 0%, rgba(44,96,13,0.6) 65%, rgba(42,97,10,0.6) 70%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#455936', endColorstr='#2a610a', GradientType=1 );

}
.slider3{
	padding-bottom: 15px;
	margin:0 auto;
	border:1px solid #000;
	border-radius: 5px;
	box-shadow: 4px 3px 4px #888;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
/* ------HOMEPAGE SLIDER END----*/

.separator{
	width: 1px;
	content: "";
	height: 1px;
	background:none;
}
/* col 1 box 1*/
.h_text{
	background: url(../images/separator.png)no-repeat center bottom transparent;
	text-align: center;
	width: 100%;
}
.ten{
	padding-bottom: 10px;
}
.h_text h3{
	margin: 0 5px 10px 5px;
	padding: 0;
	font-family: Forelle;
	font-size:3rem;
	color: #4c2d25;
}
.text{
	text-align: center;
	overflow-y: hidden;
	line-height: 135%;
	font-family: 'Tangerine', cursive;
	font-size: 26px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
/* ---- col's desktop---- */
.col1{
	width: 48%;
	margin: 35px 35px 15px 0;
	float: left;
	height: 80%;
}
.col2{
	width: 48%;
	height: 80%;
	float:left;
	margin: 35px 10px 15px 0;
}
.col3{
	width: 100%;
	height: auto;
	clear: both;
	margin: 20px auto 15px;
}
.cta{
	text-align: center;
	display: block;
	margin-top: 20px;
}
.btn {
  background: #3d8a0e;
  background-image: -webkit-linear-gradient(top, #3d8a0e, #5fac30);
  background-image: -moz-linear-gradient(top, #3d8a0e, #5fac30);
  background-image: -ms-linear-gradient(top, #3d8a0e, #5fac30);
  background-image: -o-linear-gradient(top, #3d8a0e, #5fac30);
  background-image: linear-gradient(to bottom, #3d8a0e, #5fac30);
  -webkit-box-shadow: 0px 2px 3px #666666;
  -moz-box-shadow: 0px 2px 3px #666666;
  box-shadow: 0px 2px 3px #666666;
  font-family: Georgia;
  color: #000;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border:1px groove #000;
  border-radius: 5px;
}

.btn:hover {
  background: #516744;
  background-image: -webkit-linear-gradient(top, #516744, #516736);
  background-image: -moz-linear-gradient(top, #516744, #516736);
  background-image: -ms-linear-gradient(top, #516744, #516736);
  background-image: -o-linear-gradient(top, #516744, #516736);
  background-image: linear-gradient(to bottom, #516744, #516736);
  text-decoration: none;
}
/* ----- FOOTER START ------ */
#footer{
	position:relative;
	bottom:0;
	display: inline-block;
	width: 100%;
	max-height: 5%;
	text-align: left;
	font-size: 20px;
	margin-top:20px;
	padding:0;
	border-top: 1px ridge #422117;

}
/*   >>>>> END HOMEPAGE <<<<<<<< */
.hbar{
	height: 2px;
	width: 100%;
	background-color: #47241b;
	margin-top: 15px;
	margin-bottom:15px;
}
/* >>>>> PRODUSE <<<<<< */
.produse{
	width: 100%;
	margin:0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border-style: solid;
    border-width: 1px;
	  border-color: rgb( 76, 45, 37 );
	  background-image: -moz-linear-gradient( 0deg, rgb(239,224,202) 0%, rgb(252,247,238) 50%, rgb(239,224,202) 100%);
	  background-image: -webkit-linear-gradient( 0deg, rgb(239,224,202) 0%, rgb(252,247,238) 50%, rgb(239,224,202) 100%);
	  background-image: -ms-linear-gradient( 0deg, rgb(239,224,202) 0%, rgb(252,247,238) 50%, rgb(239,224,202) 100%);
}
.gallery{
	  background-image: -moz-linear-gradient( 0deg, rgb(239,224,202) 0%, rgb(252,247,238) 50%, rgb(239,224,202) 100%);
	  background-image: -webkit-linear-gradient( 0deg, rgb(239,224,202) 0%, rgb(252,247,238) 50%, rgb(239,224,202) 100%);
	  background-image: -ms-linear-gradient( 0deg, rgb(239,224,202) 0%, rgb(252,247,238) 50%, rgb(239,224,202) 100%);
}
.center{
	position: absolute;
	top: 30px;
	padding-bottom: 5px;
	text-align: center;
	font-size:16px;
	font-family:Myriad Pro;
}
ul.prod_gal{
	list-style-type: none;
}
ul.prod_gal li{
	max-width: 15%;
	float: left;
	margin:5px 55px 5px 55px;
}
.prod{
	font-family: 'Tangerine', cursive;
	font-size: 2em;
}
/* >>>>> DESPRE NOI <<<<<<< */
.background{
	background-color: #F1E4D0;
    background-size: 100%;
    border: 1px solid #C9AE8C;
    padding: 15px;
    height: 95%;
    width: auto;
}
.tangerine{
	font-size: 2em;
	font-family: 'Tangerine', cursive;
	max-height: 85px;
}
.img_with_shadow{
	background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/despre_noi1.png"), url("../images/umbra.png");
    background-position: 0 10px, 0 bottom;
    background-repeat: no-repeat;
    background-size: contain, 100% 5%;
    height: 410px;
    min-height: 405px;
}
.img_with_shadow2{
	background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/despre_noi2.png"), url("../images/umbra.png");
    background-position: 0 10px, 0 bottom;
    background-repeat: no-repeat;
    background-size: contain, 100% 5%;
    height: 410px;
}
.object{
	background:url("../images/object.png")no-repeat scroll center center transparent;
	background-size: contain;
	width: 350px;
	height: 55px;
	margin:0 auto;
	margin-bottom: 15px;
	margin-top: 10px;
}
.bottom{
	display: block;
    margin-top: 15px;
    padding-bottom: 65px;
    position: relative;
}
.despre{
	height: 60%;
}
.yuck{
	margin: 0 auto;
    width: 80%;
}
.yuck img{
	width: 210px;
	height: 150px;
	float: left;
	margin-right: 10px;
}