body{
	background: url("../img/skulls.png")repeat fixed 0 0 transparent;
}
p{
	/*font-family: 'Pacifico', cursive;*/ font-family: 'Coming Soon', cursive;
}
a{
	font-family: 'Coming Soon', cursive;
}
ul li a{
	font-family: 'Coming Soon', cursive;
}