@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:900);
@import url(http://fonts.googleapis.com/css?family=Chewy);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: #a1a1a1;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner {
    background: #000;
}
body {
    background: url('../img/perforated_white_leather.png')repeat fixed center center transparent;
    padding-top: 42px;
    border: 0;
    margin: 0;
}
h1, h3, h4, h5, h6 {
    letter-spacing: 1.5px;
    font-family: 'Gloria Hallelujah', cursive;
}
h2 {
    font-family: 'Permanent Marker', cursive;
}
h4 a {
    color: #1EA7C4;
    /* TEAL */
    text-decoration: none;
}
/*GLASS TEXT*/

.cat {
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 1px -1px 3px #ccc;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    background-size: contain;
    color: #333;
    background-blend-mode: multiply;
}
/*Bootstrap default button override to glass button*/

.btn-default {
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
}
p {
    font-family: 'Chewy', cursive;
}
a img {
    border: none;
    /*remove border for linked images*/
}
.group1 .group2 {
    border-radius: 50%;
    padding: 5px;
    background-origin: padding-box;
    background-blend-mode: multiply;
    background: #58BBDC;
    opacity: 0.8;
}
.text {
    height: 340px;
    overflow: auto;
}
#scroller {
    max-height: 500px;
    overflow: auto;
}
.group1 {
    color: #111;
    background: rgb(215, 215, 215);
}
.group1 img {
    background: #ccc;
    border-radius: 50%;
    background-blend-mode: multiply;
}
.group1 img:hover {
    background: #fefefe;
}
.group1:hover {
    background: #EA8F4D;
    color: #000;
    opacity: 1;
}
.group2:hover {
    background: #FF8040;
    color: #fff;
    opacity: 1;
}
.jumbotron {
    background: url('../img/banner3.jpg');
    background-size: cover;
}
.jumbotron h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 86px;
    color: red;
    mix-blend-mode: screen;
    padding: 0;
    margin: 0;
    line-height: 0.6;
    transition: color 0.9s ease;
}
.jumbotron h2:hover {
    color: #1EA7C4;
}
#toppanel {
    background: url('../img/perforated_white_leather.png')repeat fixed center center transparent;
}
.highlight {
    background-color: #FF9D9D;
    border-bottom: #F30 1px solid;
    border-top: #F30 1px solid;
    padding: 4px 10px
}
/*PANEL*/

/* #header {
    background-color: #6bbfc8;
} */
.separator {
    height: 1.9em;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: rgba(107, 191, 200, 0.2);
}
#top-bar {
    /*background-color:rgba(107,191,200,0.8);*/
    background: url('../img/perforated_white_leather.png')repeat fixed center center transparent;
    padding: 5px;
}
#menu-bar {
    background: url('../img/perforated_white_leather.png')repeat fixed center center transparent;
}
#top-bar a {
    /*color: rgba(255, 255, 226, 0.7);*/
    color: #333;
    letter-spacing: 2px;
    opacity: 0.8;
    transition: all 0.8s linear;
}
#top-bar a:hover {
    opacity: 1;
    /*color: rgba(236, 248, 106, 1);*/
    color: #222;
}
#logo-bar {
    background: url('../img/perforated_white_leather.png')repeat fixed center center transparent;
}
#logo-image {
    opacity: 0.85;
    transition: all 0.8s ease;
}
#logo-image:hover {
    opacity: 1;
}
#menu {
    z-index: 2;
}
.slider {
    z-index: 1;
}
/* -- DESKTOP MENU START -- */

.navbar-nav>li {
    float: none;
}
nav.desktop ul li {
    background-color: #222;
    border-bottom: 2px inset #333;
    transition: background-color 0.8s ease;
    box-sizing: border-box;
}
nav.desktop ul li:hover {
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    border-bottom: 2px inset #36ABD1;
}
nav.desktop a {
    /*font-family: 'Alegreya Sans SC', sans-serif;*/
    font-family: 'Finger Paint', cursive;
    letter-spacing: 2px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #e1e1e1;
    transition: color .8s ease;
}
/*  -- DESKTOP MENU END -- */

/*MOBILE MENU START*/

.sticky {
    position: fixed;
    bottom: 50%;
    right: 0;
    z-index: 9999;
}
nav.mobile-bar {
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    background-color: #222;
    background-blend-mode: multiply;
    border-radius: 3px;
}
#mobile-menu {} .mobile-header {}
/*MOBILE MENU END*/

.ui.inverted.segment, .ui.primary.inverted.segment {
    background: url('../img/binding_dark.png')repeat fixed center center transparent;
}
#mini-cart {
    background: url('../img/specials/buton.png')no-repeat scroll -6px 2px transparent;
    background-size: contain;
    padding: 15px;
    width: 9.5em;
    display: inline-block;
    position: absolute;
    right: 0;
    color: #fff;
    opacity: 0.9;
    transition: all 0.8s ease;
}
a#mini-cart {
    font-weight: bold;
    font-family: 'Alegreya Sans SC', sans-serif;
    letter-spacing: 1px;
    color: #1EA7C4;
}
#mini-cart:hover {
    opacity: 1;
    background: url('../img/specials/buton2.png')no-repeat scroll -6px 2px transparent;
    background-size: contain;
    color: #ccc;
}
.prod {
    padding: 5px;
    background-color: rgba(239, 239, 239, 0.7);
}
.product {
    border: 1px #333 inset;
    background-blend-mode: darken;
    margin: 2px 2px;
    border-radius: 4px;
    padding: 2px 2px;
    background: rgba(242, 242, 242, 0.4);
    /*background: url('../img/hoffman.png')repeat fixed center center transparent;*/
    box-sizing: border-box;
    transition: background .5s ease;
}
.ui.selection.list .item {
    color: #fff;
}
.product:hover {
    background: #222;
    border: 1px #fff inset;
    color: #fefefe;
}
.mid {
    margin-top: 20%;
    font-size: 7em;
    text-shadow: 14px -8px 1px #ccc;
    letter-spacing: 1px;
    transition: .6s ease;
}
.mid:hover {
    font-size: 8em;
    color: #1EA7C4;
    text-shadow: 7px -4px 1px #333;
    letter-spacing: 1px;
}
.fil {
    background: url('../img/specials/run2.png')no-repeat scroll 95% 45% transparent;
    height: 364px;
    background-color: #ccc;
    opacity: 0.8;
    transition: .9s ease;
    background-blend-mode: multiply;
    border: 2px inset #333;
    border-radius: 3px;
}
.fil:hover {
    opacity: 1;
    background: url('../img/specials/run.png')no-repeat scroll 95% 45% transparent;
    background-color: #777;
    border: 2px inset #fff;
}
.fil1 {
    ackground: url('../img/specials/run2.png')no-repeat scroll 95% 45% transparent;
    height: 364px;
    background-color: #F3F3F3;
    background-size: contain;
    opacity: 0.8;
    transition: .9s ease;
    background-blend-mode: multiply;
}
.fil1:hover {
    opacity: 1;
    background: url('../img/specials/run.png')no-repeat scroll 95% 45% transparent;
    background-color: #888;
}
.fil2 {
    background: url('../img/specials/6.png')no-repeat scroll 95% 45% transparent;
    background-size: contain;
    height: 364px;
    background-color: #F3F3F3;
    opacity: 0.8;
    transition: .9s ease;
    background-blend-mode: multiply;
}
.fil2:hover {
    opacity: 1;
    background: url('../img/specials/5.png')no-repeat scroll 95% 45% transparent;
    background-color: #888;
}
.fil3 {
    background: url('../img/specials/3.png')no-repeat scroll 95% 45% transparent;
    height: 364px;
    background-size: contain;
    background-color: #F3F3F3;
    opacity: 0.8;
    transition: .9s ease;
    background-blend-mode: multiply;
}
.fil3:hover {
    opacity: 1;
    background: url('../img/specials/4.png')no-repeat scroll 95% 45% transparent;
    background-color: #888;
}
#categories {
    height: auto;
}
.trigger {
    cursor: pointer;
    opacity: 0.8;
    transition: all .8s ease;
    /*transform: scale(1);*/
}
.trigger:hover {
    opacity: 1;
    /*transform: scale(1.1);*/
}
.blind {
    display: none;
    /*opacity: 0;*/
    /*transition: all 0.9s ease;*/
}
.blind:hover {
    background-color: #e1e1e1;
    color: #05AFE0!important;
}
.banner1, .banner2 {
    z-index: 100;
    transition: .8s ease;
    -webkit-transition: .8s ease;
    -moz-transition: .8s ease;
    -o-transition: .8s ease;
    transform: rotate(0deg) skew(1deg) translate(0px);
    -webkit-transform: rotate(0deg) skew(1deg) translate(0px);
    -moz-transform: rotate(0deg) skew(1deg) translate(0px);
    -o-transform: rotate(0deg) skew(1deg) translate(0px);
    -ms-transform: rotate(0deg) skew(1deg) translate(0px);
}
.banner1:hover, .banner2:hover {
    transform: rotate(0deg) skew(1deg) translate(30px);
    -webkit-transform: rotate(0deg) skew(1deg) translate(30px);
    -moz-transform: rotate(0deg) skew(1deg) translate(30px);
    -o-transform: rotate(0deg) skew(1deg) translate(30px);
    -ms-transform: rotate(0deg) skew(1deg) translate(30px);
}
.footer {
    /*background-color: rgba(114, 114, 114, 0.4);*/
    background: url('../img/specials/7.png')no-repeat fixed 25% 100% transparent;
    background-size: 18% 35%;
    background-blend-mode: multiply;
    transition: all .8s ease;
}
.footer:hover {
    /*background-color: rgba(114, 114, 114, 0.6);*/
    background-color: #fff;
    background: url('../img/specials/8.png')no-repeat fixed 25% 100% transparent;
    background-size: 18% 35%;
    background-blend-mode: multiply;
}
/*#footer-2nd-bg{
	background: url('../img/specials/4.png')no-repeat 15% 95% transparent;
	background-size: 25% 100%;
	background-blend-mode: multiply;
	transition: all .8s ease;
}
#footer-2nd-bg:hover{
	background: url('../img/specials/3.png')no-repeat 15% 95% transparent;
	background-size: 25% 100%;
	background-color:#fff;
	background-blend-mode: multiply;
}*/

#footer-row1 {
    /*border-bottom: 2px groove #fff;*/
}
#footer-row2 {
    /*border-bottom: 2px groove #fff;*/
}
.footer-list {
    border-right: 2px groove #fefefe;
}
.footer-list li a {
    font-weight: bold;
    color: #222;
    transition: all 0.9s ease;
}
.footer-list li a:hover {
    color: #1EA7C4;
    text-transform: uppercase;
}
/*======================================================= SLIDEDOWNS START ======================================*/

.box2, .box4, .box6, .box8 {
    position: absolute;
    z-index: 999;
    margin-top: -19px;
    width: 95%;
    border-top:1px solid #1EA7C4;
    border-radius: 3px;
    border-bottom: 3px inset #1EA7C4;
    margin-left: 15px;
    padding: 15px 0px;
}
.box2 {
    background: url('../img/race.jpg')no-repeat fixed center center transparent;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #666;
    opacity: 0.8;
    transition: opacity, background-image, background, background-color, color 0.9s ease;
}
.box4 {
    background: url('../img/design1.jpg')no-repeat fixed center center transparent;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #666;
    opacity: 0.8;
    transition: opacity, background-image, background, background-color, color 0.9s ease;
}
.box6 {
    background-color: #666;
    opacity: 0.8;
    transition: opacity, background-image, background, background-color, color 0.9s ease;
    background-blend-mode: multiply;
}
.box8 {
    background-color: #666;
    opacity: 0.8;
    transition: opacity, background-image, background, background-color, color 0.9s ease;
    background-blend-mode: multiply;
}
.box2:hover {
    opacity: 1;
    background-color: #222;
    color: #1EA7C4;
}
.box4:hover {
    opacity: 1;
    background-color: #222;
    color: #fff;
}
.box6:hover {
    opacity: 1;
    background-color: #222;
    color: #fff;
}
.box8:hover {
    opacity: 1;
    background-color: #222;
    color: #444;
}
/*============================ PANEL START ============================*/

/* Panel Tab/button */

.tab {
    background: url(../images/tab_b.png) repeat-x 0 0;
    height: 42px;
    position: relative;
    top: 0;
    z-index: 999;
}
.tab ul.login {
    display: block;
    position: relative;
    float: right;
    clear: right;
    height: 42px;
    width: auto;
    font-weight: bold;
    line-height: 42px;
    margin: 0;
    right: 150px;
    color: white;
    font-size: 80%;
    text-align: center;
}
.tab ul.login li.left {
    background: url(../images/tab_l.png) no-repeat left 0;
    height: 42px;
    width: 30px;
    padding: 0;
    margin: 0;
    display: block;
    float: left;
}
.tab ul.login li.right {
    background: url(../images/tab_r.png) no-repeat left 0;
    height: 42px;
    width: 30px;
    padding: 0;
    margin: 0;
    display: block;
    float: left;
}
.tab ul.login li {
    text-align: left;
    padding: 0 6px;
    display: block;
    float: left;
    height: 42px;
    background: url(../images/tab_m.png) repeat-x 0 0;
}
.tab ul.login li a {
    color: #15ADFF;
}
.tab ul.login li a:hover {
    color: white;
}
.tab .sep {
    color: #414141
}
.tab a.open, .tab a.close {
    /*height: 20px;*/
    line-height: 20px !important;
    padding-left: 30px !important;
    cursor: pointer;
    display: block;
    /*width: 100px;*/
    position: relative;
    top: 11px;
}
.tab a.open {
    background: url(../images/bt_open.png) no-repeat left 0;
}
.tab a.close {
    background: url(../images/bt_close.png) no-repeat left 0;
}
.tab a:hover.open {
    background: url(../images/bt_open.png) no-repeat left -19px;
}
.tab a:hover.close {
    background: url(../images/bt_close.png) no-repeat left -19px;
}
/* sliding panel */

#toppanel {
    position: absolute;
    /*Panel will overlap  content */
    /*position: relative;*/
    /*Panel will "push" the content down */
    top: 0;
    width: 100%;
    z-index: 999;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#panel {
    width: 100%;
    height: 270px;
    color: #999999;
    background: #272727;
    overflow: hidden;
    position: relative;
    z-index: 3;
    display: none;
}
#panel h1 {
    font-size: 1.6em;
    padding: 5px 0 10px;
    margin: 0;
    color: white;
}
#panel h2 {
    font-size: 1.2em;
    padding: 10px 0 5px;
    margin: 0;
    color: white;
}
#panel p {
    margin: 5px 0;
    padding: 0;
}
#panel a {
    text-decoration: none;
    color: #15ADFF;
}
#panel a:hover {
    color: white;
}
#panel a-lost-pwd {
    display: block;
    float: left;
}
#panel .content {
    width: 960px;
    margin: 0 auto;
    padding-top: 15px;
    text-align: left;
    font-size: 0.85em;
}
#panel .content .left {
    width: 280px;
    float: left;
    padding: 0 15px;
    border-left: 1px solid #333;
}
#panel .content .right {
    border-right: 1px solid #333;
}
#panel .content form {
    margin: 0 0 10px 0;
}
#panel .content label {
    float: left;
    padding-top: 8px;
    clear: both;
    width: 280px;
    display: block;
}
#panel .content input.field {
    border: 1px #1A1A1A solid;
    background: #414141;
    margin-right: 5px;
    margin-top: 4px;
    width: 200px;
    color: white;
    height: 16px;
}
#panel .content input:focus.field {
    background: #545454;
}
/* BUTTONS */

/* Login and Register buttons */

#panel .content input.bt_login, #panel .content input.bt_register {
    display: block;
    float: left;
    clear: left;
    height: 24px;
    text-align: center;
    cursor: pointer;
    border: none;
    font-weight: bold;
    margin: 10px 0;
}
#panel .content input.bt_login {
    width: 74px;
    background: transparent url(../images/bt_login.png) no-repeat 0 0;
}
#panel .content input.bt_register {
    width: 94px;
    color: white;
    background: transparent url(../images/bt_register.png) no-repeat 0 0;
}
#panel .lost-pwd {
    display: block;
    float: left;
    clear: right;
    padding: 15px 5px 0;
    font-size: 0.95em;
    text-decoration: underline;
}
/*============PANEL END ================== */

.mob {
    background:url('../img/footer.png')repeat-x scroll center center transparent;
    background-size: contain;
    background-blend-mode: multiply;
}
.mobile-footer {
    list-style-type: none;
    display: flex;
}
.mobile-footer li {
    display: flex;
    background-blend-mode: multiply;
    padding: 5px;

}
.mobile-footer li a {
    display: inline-flex;
}
